## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
for i in words:
    print(i.upper())# your code here

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [6]:
new_list = []
for i in words:
    if len(i) >= 5:
        new_list.append(i)
    else:
        pass
print(new_list)# your code here

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [14]:
fisrt_word_t=[]
for i in words:
    if i.startswith("t"):
        fisrt_word_t.append(i)
print(fisrt_word_t[0])

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [15]:
squares=[]
for i in range(0,11):
    squares.append(i*i)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [24]:
odd = []
for i in range(0,11):
    if i % 2 != 0:
        odd.append(i)
print(odd)

[1, 3, 5, 7, 9]

**Create a list with the squares of all multiples of 8 below 1000**

In [25]:
# your code here
multiples = []
for i in range(0,1000):
    if i % 8 ==0:
        multiples.append(i*i)
print(multiples)

[0, 64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [31]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [37]:
contador = 0
for i in people:
    if "name" in i:
        contador += 1
contador

5

**How many people have kids**?

In [42]:
kids = 0
for i in people:
    if i["n_kids"] > 0:
        kids += 1
kids

4

**How many kids do they have in total?**

In [47]:
# your code here
kids_total=0
for i in people:
    kids_total += i["n_kids"]
kids_total

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [54]:
# your code here
update=0
for i in people:
    if i["name"][-1] == "a":
        update = i["n_kids"]+1
        people.update({"n_kids":update}) #Okay, parece que esto no funciona, por alguna razón me lo cuenta como lista...
print(people)

AttributeError: 'list' object has no attribute 'update'

In [55]:
#probamos una forma más sencillas para actualizar directamente el valor sin hacer una nueva variable:
for i in people:
    if i["name"][-1] == "a":
        i["n_kids"]+=1
    
print(people)#Oki, funciona hahaha

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 3}, {'name': 'Lucía', 'age': 22, 'n_kids': 4}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]