# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [1]:
#pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

In [2]:
import pandas as pd
import numpy as np

In [3]:
elteams=pd.read_csv("datasets/actual.csv")
ecteams=pd.read_excel("datasets/ec2023.xlsx", index_col=False)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [4]:
# Your Code here: 
# Unnamed col - drop
# null values - nulls in ganador & plusminus
# duplicated - 
ecteams
ecteams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  173 non-null    int64
 1   fecha       173 non-null    object
 2   ronda       173 non-null    int64
 3   local       173 non-null    object
 4   visitante   173 non-null    object
 5   localscore  173 non-null    int64
 6   roadscore   172 non-null    float64
 7   Winner      173 non-null    object
 8   Ganador     172 non-null    float64
 9   plusminus   172 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 13.6+ KB

In [5]:
ecteams.drop_duplicates(inplace = True)
ecteams.dropna(inplace = True)
ecteams.drop('Unnamed: 0', inplace = True, axis=1 )

In [6]:
ecteams.reset_index(inplace = True, drop = True)

In [7]:
ecteams

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0
1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0
2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0
3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0
4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0
...,...,...,...,...,...,...,...,...,...
165,2023-10-04T18:00:00,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,80.0,9.0
166,2023-10-04T18:00:00,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,97.0,20.0
167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,105.0,27.0
168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,80.0,10.0
169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,100.0,27.0

In [8]:
ecteams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fecha       170 non-null    object
 1   ronda       170 non-null    int64
 2   local       170 non-null    object
 3   visitante   170 non-null    object
 4   localscore  170 non-null    int64
 5   roadscore   170 non-null    float64
 6   Winner      170 non-null    object
 7   Ganador     170 non-null    float64
 8   plusminus   170 non-null    float64
dtypes: float64(3), int64(2), object(4)
memory usage: 12.1+ KB

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [9]:
#Your sample ecteams code here: 
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
117,2023-11-08T18:00:00,6,Besiktas Emlakjet Istanbul,Veolia Towers Hamburg,90,78.0,Local,90.0,12.0

In [10]:
#Your sample elteams code here: 
elteams.sample()

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
6,Euroleague,Regular Season,1,2023-10-06,20:15:00,Panathinaikos AKTOR Athens,Olympiacos Piraeus,78,88,"['LOTTERMOSER, ROBERT', 'PEREZ, EMILIO', 'NEDO...",-10,Olympiacos Piraeus,Visitante

What are the inconsistencies that you are seeing? Write them down!

- competition - phase not in elteams
- drop Arbitros
- ecteams fecha not fecha - divide in dia & hora
- ecteams roadscore & plusminus = float
- 

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [11]:
#Your Code here: 
ecteams["Competition"] = "Eurocup"

In [12]:
ecteams.drop("competition", inplace=True, axis=1)

KeyError: "['competition'] not found in axis"

In [15]:
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Competition
69,2023-12-12T18:00:00,11,U-BT Cluj-Napoca,Slask Wroclaw,80,76.0,Local,80.0,4.0,Eurocup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [16]:
#Drop the Column Ganador from the Eurocup Dataframe
ecteams.drop("Ganador", inplace=True, axis=1)

In [17]:
#Rename the column with the actual information to "Ganador" Winner == Ganador
ecteams.rename(columns={"Winner":"Ganador"}, inplace=True)

In [18]:
ecteams.sample()

,fecha,ronda,local,visitante,localscore,roadscore,Ganador,plusminus,Competition
104,2023-11-15T18:00:00,7,Wolves Vilnius,Umana Reyer Venice,77,93.0,Visitante,-16.0,Eurocup

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [19]:
# Your code here: no me se la quick way...
ecteams.rename(columns={"Winner":"Ganador",
                       "fecha":"Fecha",
                        "ronda":"Ronda",
                        "local":"Local",
                        "visitante":"Visitante",
                        "localscore":"Localscore",
                        "roadscore":"Roadscore",
                        "plusminus":"Plusminus"
                       }, inplace=True)

In [20]:
ecteams.sample()

,Fecha,Ronda,Local,Visitante,Localscore,Roadscore,Ganador,Plusminus,Competition
167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,27.0,Eurocup

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [21]:
comp_el = elteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]

In [22]:
comp_ec = ecteams[["Competition", "Localscore", "Roadscore", "Plusminus", "Ganador"]]

In [23]:
# Your code here:

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [24]:
# Your code here: 
competition = pd.concat([comp_el, comp_ec], axis=0, ignore_index=True)

In [25]:
competition.sample()

    Competition  Localscore  Roadscore  Plusminus    Ganador
281     Eurocup          76       98.0      -22.0  Visitante

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [51]:
# 1: agrupo por competition y pongo una variable cualquiera. Haciendo un count() me debería dar los matches de cada competition
competition[["Competition","Ganador"]].groupby("Competition").count()

             Ganador
Competition
Eurocup          170
Euroleague       225

In [52]:
# 2
competition[["Competition","Localscore","Roadscore"]].groupby("Competition").max()

             Localscore  Roadscore
Competition
Eurocup             120      114.0
Euroleague          130      126.0

In [53]:
# 3
competition[["Competition","Localscore","Roadscore"]].groupby("Competition").mean()

             Localscore  Roadscore
Competition
Eurocup       85.235294  83.958824
Euroleague    83.284444  79.173333

In [54]:
# 4
competition["Absolut_Plusminus"] = np.where(competition["Ganador"] == "Visitante", competition["Plusminus"]*-1, competition["Plusminus"])

In [48]:
competition[["Competition","Absolut_Plusminus"]].groupby("Competition").max()

             Absolut_Plusminus
Competition
Eurocup                   39.0
Euroleague                39.0

In [55]:
# 5
competition["Local_victory"] = np.where(competition["Ganador"] == "Local", 1, 0)

In [67]:
competition["Road_victory"] = np.where(competition["Ganador"] == "Visitante", 1, 0)

In [68]:
#competition.drop("road_victory", axis=1, inplace=True)

In [69]:
competition.sample()

,Competition,Localscore,Roadscore,Plusminus,Ganador,Absolut_Plusminus,Local_victory,Road_victory
226,Eurocup,78,97.0,-19.0,Visitante,19.0,0,1

In [70]:
competition[["Competition","Local_victory", "Road_victory"]].groupby("Competition").sum()

             Local_victory  Road_victory
Competition
Eurocup                 90            80
Euroleague             150            75