# Part 1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [7]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
data_base = pd.read_csv(url, sep='\t')
data_base

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [9]:
chipo = data_base
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [10]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [11]:
# Solution 1

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [2]:
# Solution 2

#4622 observations

### Step 6. What is the number of columns in the dataset?

In [20]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [18]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [21]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [23]:
chipo.groupby("item_name").sum("quantity").sort_values(by="quantity", ascending=False)
#Chicken bowl

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

### Step 10. For the most-ordered item, how many items were ordered?

In [26]:
chipo.groupby("item_name").sum("quantity").sort_values(by="quantity", ascending=False).head(1)
#761

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [27]:
chipo.groupby("choice_description").sum("quantity").sort_values(by="quantity", ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [28]:
chipo.groupby("choice_description").sum("quantity").sort_values(by="quantity", ascending=False).head(1)
#159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [31]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [55]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x.replace("$","")))

AttributeError: 'float' object has no attribute 'replace'

#### Step 13.c. Check the item price type

In [39]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [41]:
chipo["item_price"].sum()

34500.16

### Step 15. How many orders were made in the period?

In [42]:
chipo["order_id"].count()

4622

### Step 16. What is the average revenue amount per order?

In [44]:
# Solution 1
chipo["item_price"].mean()

7.464335785374297

In [4]:
# Solution 2?

### Step 17. How many different items are sold?

# Part 2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [64]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [65]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [66]:
chipo["item_price"] = chipo["item_price"].apply(lambda x: float(x.replace("$","")))

In [67]:
(chipo["item_price"] > 10).sum()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [74]:
chipo_2 = chipo.sort_values(by="item_price", ascending=False)[["item_name","item_price"]]
chipo_2.groupby("item_name").mean("item_price").sort_values(by="item_price", ascending=False)

                                       item_price
item_name
Bowl                                    14.800000
Steak Salad Bowl                        11.847931
Chicken Salad Bowl                      11.170455
Carnitas Crispy Tacos                   11.137143
Carnitas Salad Bowl                     11.056667
Barbacoa Crispy Tacos                   10.928182
Carnitas Bowl                           10.833971
Steak Bowl                              10.711801
Barbacoa Salad Bowl                     10.640000
Veggie Soft Tacos                       10.565714
Steak Burrito                           10.465842
Veggie Bowl                             10.211647
Steak Crispy Tacos                      10.209714
Barbacoa Bowl                           10.187273
Veggie Salad Bowl                       10.138889
Carnitas Burrito                        10.132712
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Barbacoa Soft Tacos                     10.018400
Veggie Burrito                           9.839684
Barbacoa Burrito                         9.832418
Steak Soft Tacos                         9.746364
Chicken Soft Tacos                       9.635565
Carnitas Soft Tacos                      9.398500
Chicken Salad                            9.010000
Carnitas Salad                           8.990000
Steak Salad                              8.915000
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Burrito                                  7.400000
Crispy Tacos                             7.400000
Salad                                    7.400000
6 Pack Soft Drink                        6.610185
Chips and Guacamole                      4.595073
Nantucket Nectar                         3.641111
Izze                                     3.390000
Chips and Fresh Tomato Salsa             3.285091
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Tomatillo-Red Chili Salsa      2.987500
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Roasted Chili-Corn Salsa       2.390000
Chips                                    2.342844
Bottled Water                            1.867654
Side of Chips                            1.840594
Canned Soft Drink                        1.457641
Canned Soda                              1.320577

### Step 6. Sort by the name of the item

In [76]:
chipo_2.groupby("item_name").mean("item_price").sort_values(by="item_name", ascending=True)

                                       item_price
item_name
6 Pack Soft Drink                        6.610185
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.928182
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.867654
Bowl                                    14.800000
Burrito                                  7.400000
Canned Soda                              1.320577
Canned Soft Drink                        1.457641
Carnitas Bowl                           10.833971
Carnitas Burrito                        10.132712
Carnitas Crispy Tacos                   11.137143
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Chicken Salad                            9.010000
Chicken Salad Bowl                      11.170455
Chicken Soft Tacos                       9.635565
Chips                                    2.342844
Chips and Fresh Tomato Salsa             3.285091
Chips and Guacamole                      4.595073
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Tomatillo-Red Chili Salsa      2.987500
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.641111
Salad                                    7.400000
Side of Chips                            1.840594
Steak Bowl                              10.711801
Steak Burrito                           10.465842
Steak Crispy Tacos                      10.209714
Steak Salad                              8.915000
Steak Salad Bowl                        11.847931
Steak Soft Tacos                         9.746364
Veggie Bowl                             10.211647
Veggie Burrito                           9.839684
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                       10.565714

### Step 7. What was the quantity of the most expensive item ordered?

In [79]:
(chipo["item_name"] == "Bowl").sum()

2

In [80]:
chipo_3 = chipo.sort_values(by="item_price", ascending=False)[["item_name","quantity"]]
chipo_3.groupby("item_name").sum("quantity").sort_values(by="quantity", ascending=False)
#No entiendo porque aquí me salen 4 bowls y en el anterior 2.

                                       quantity
item_name
Chicken Bowl                                761
Chicken Burrito                             591
Chips and Guacamole                         506
Steak Burrito                               386
Canned Soft Drink                           351
Chips                                       230
Steak Bowl                                  221
Bottled Water                               211
Chips and Fresh Tomato Salsa                130
Canned Soda                                 126
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Side of Chips                               110
Veggie Burrito                               97
Barbacoa Burrito                             91
Veggie Bowl                                  87
Carnitas Bowl                                71
Barbacoa Bowl                                66
Carnitas Burrito                             60
Steak Soft Tacos                             56
6 Pack Soft Drink                            55
Chips and Tomatillo Red Chili Salsa          50
Chicken Crispy Tacos                         50
Chips and Tomatillo Green Chili Salsa        45
Carnitas Soft Tacos                          40
Steak Crispy Tacos                           36
Chips and Tomatillo-Green Chili Salsa        33
Steak Salad Bowl                             31
Nantucket Nectar                             29
Chips and Tomatillo-Red Chili Salsa          25
Barbacoa Soft Tacos                          25
Chips and Roasted Chili Corn Salsa           23
Izze                                         20
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Chicken Salad                                 9
Carnitas Crispy Tacos                         8
Veggie Soft Tacos                             8
Burrito                                       6
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Bowl                                          4
Steak Salad                                   4
Salad                                         2
Crispy Tacos                                  2
Chips and Mild Fresh Tomato Salsa             1
Carnitas Salad                                1
Veggie Crispy Tacos                           1

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [84]:
(chipo["item_name"] == "Veggie Salad Bowl").sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [88]:
((chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)).sum()

20